{{define "mainMenu"}}
	{{if eq $.Site.Params.cv `true`}}
		{{ partial "menuSection" .}}
	{{end}}
{{end}}

{{define "contentSection"}}
	{{if eq $.Site.Params.cv `true`}}
		<!-- Content Section -->
		<section class="ten wide column" id="contentSection">
			<div class="ui padded segment" id="mainbg">
				<button id="MaxMinSecBtn" class="ui tiny basic grey right floated icon button" data-content="Maximize"><i id="winIcon" class="window maximize icon"></i></button>
				<button id="darkLightMode" class="ui tiny basic yellow icon button"  data-content="Dark"><i id="bulbIcon" class="lightbulb icon"></i></button>

		{{ $title := .Title }}

		{{ $numOfCV := (len (where .Site.RegularPages "Section" "==" "cv")) }}

		<!-- Section's Title -->
		<h1 id="sectionTitle">
			<i class="address card icon"></i> Curriculum 
			<i class="caret right icon"></i>
			{{if ne $.Site.Params.postsCounter `disable`}} 
			{{if eq $title "Curriculum" }} 
				# {{ $numOfCV}} 
			{{end}}
		{{end}} 
		</h1>


		<div class="ui divider"></div>

			{{if (and (eq $title "Curriculum") (eq $numOfCV 0)) }}

				{{partial "noCV" . }}

			{{else}}

				{{partial "cvList" . }}

			{{end}}

		</div>
		</section>
	{{end}}
{{end}}