* { color: whitesmoke;  text-decoration: none; margin: 0;}

body {
 /* background: rgb(90, 90, 90) url('../img/blurred.jpg') no-repeat center center fixed;  */
/* dark theme bg */
 background: rgb(90, 90, 90); 
/* light theme bg */
/* background:  rgb(200, 200, 200); */
font-family: 'Roboto', sans-serif !important;
margin: 2%;  
}

.meta {
  font-family: 'Roboto', sans-serif;
}


#mainMenu {
  margin: 0 !important;
  padding: 0 !important;
}

#contentSection {
  margin: 0 !important;
  padding: 0 !important;
}

p, 
ul, 
li {
  color: whitesmoke;
  font-size: 17px;
  line-height: 27px;
}


.mainbg {
  /* dark them bg */
  background: #363636 !important;
  /* light theme bg */
  /* background: white !important; */
}

h1, 
h2,
h3, 
h4,
h5, 
h6 {
  font-family: 'Saira Extra Condensed', serif;
  font-weight: 700;
  text-transform: uppercase;
}

/* #mainMenu h1 {
  font-size: 2.5rem;
}

#mainMenu h2 {
  font-size: 1.8rem;
} */


nav a, 
nav i {
  color: whitesmoke !important;
  background: #363636 !important;
}

nav a:hover,
nav i:hover,
#social i:hover {
  color: rgb(51, 189, 235) !important;
}

footer p {
  color: whitesmoke;
  font-size: 12px;
  line-height: 22px;
}


#myContent, .menu {
/* dark theme bg */
background: #363636 !important;
/* light theme bg */
 /* background: white; */
}


h1, 
#contentSection h1 >  i {
  color: #ffffe0 !important;
}

 h2,
 #myContent > h2 > sup > i {
  color: lightskyblue !important;
} 

#tabMenu span, 
#myContent span,
.meta {
  color: lightcyan !important;
} 

#tab {
  background: #424242 !important;
}

/* #myContent i {
color: whitesmoke;
} */


/* @media screen and (max-width: 1200px){
p, 
ul, 
li {
  font-size: 16px;
  line-height: 26px;
}
#mainMenu h1 {
  font-size: 2.2rem;
}

#mainMenu h2 {
  font-size: 1.7rem;
}
}

@media screen and (max-width: 995px) {
  p, 
  ul, 
  li {
    font-size: 14px;
    line-height: 24px;
  }
  #mainMenu h1 {
    font-size: 2rem;
  }
  
  #mainMenu h2 {
    font-size: 1.65rem;
  }
} */

@media screen and (max-width: 768px) {
body {
  margin: 0;
}

}
