
{{define "mainMenu"}}
{{ partial "menuSection" . }}
{{end}}

{{define "contentSection"}}

<!-- Content Section -->
<section class="ten wide column" id="contentSection">
<div class="ui padded segment" id="mainbg">
        <button id="MaxMinSecBtn" class="ui tiny basic grey right floated icon button" data-content="Maximize"><i id="winIcon" class="window maximize icon"></i></button>
		<button id="darkLightMode" class="ui tiny basic yellow icon button"  data-content="Dark"><i id="bulbIcon" class="lightbulb icon"></i></button>        

{{ $numOfProjects := (len (where .Site.RegularPages "Section" "==" "project")) }}

<!-- Section's Title -->
<h1 id="sectionTitle"> 
<i class="{{if eq .Title `Projects` }} 
                code icon 
            {{else if eq .Kind `taxonomy` }} 
                tag icon 
            {{else}} 
                info circle icon 
            {{end}}">
</i> {{.Title}} 
<i class="caret right icon"></i>
    {{if ne $.Site.Params.postsCounter `disable`}} 
        {{if eq .Title "Projects"}} 
            # {{$numOfProjects}} 
        {{end}} 
    {{end}} 
</h1>

<div class="ui divider"></div>

{{ if and (eq .Title "Projects") ( eq $numOfProjects 0) }}	

    {{partial "noProjects" . }}

{{end}}

{{partial "projectList" . }}


</div>
</section>

{{end}}