
{{define "mainMenu"}}
	{{ partial "menuSection" . }}
{{end}}

{{define "contentSection"}}

<!-- Content Section -->
<section class=" ten wide column" id="contentSection">
    <div class="ui padded segment mainbg">
			<button id="MaxSecBtn" onclick="MaxContentSection()" class="ui tiny brown right floated button"><i class="window maximize icon"></i></button>
			<button id="MinSecBtn" onclick="MinContentSection()" class="ui tiny brown right floated button"> <i class="window restore icon"></i></button>

{{ $numOfIndexPosts := (len .Site.RegularPages) }}
{{ $currentTitle := .Title}}
{{ $temp := ""}}


<!-- Section's Title -->
<h1> 
	<i class="{{ if eq .Title `Home` }} 
					home icon 
				{{else}} 
					info circle icon 
				{{end}}">
	</i> {{.Title}} 
	<i class="caret right icon"></i>
		{{if ne $.Site.Params.postsCounter `disable`}} 

			{{if eq .Title "Home" }} 
				# {{ $numOfIndexPosts}} Overall
			{{end}}
		{{end}} 
</h1>


<div class="ui divider"></div>

	{{ if and (eq .Title "self") ( eq $numOfIndexPosts 0) }}	

		{{partial "noHomePosts" . }}

	{{end}}

	{{partial "homeList" . }}

</div>
</section>

{{end}}