<!-- Content Section -->
<section class=" ten wide column" id="contentSection">
	<div class="ui padded segment mainbg">


		<!-- Section's Title -->
		<h1> <i class="exclamation triangle
			icon"></i> Oh no, 404! <i class="caret down icon"></i></h1>

			<div class="ui divider"></div>

			<!-- content -->
			<article id="myContent">

				<h2>
					Unfortunately the page you're looking for doesn't exist! 
				</h2>
				<div class="ui divider"></div>
				<div class="ui items">
					<div class="item">
						<div class="middle aligned content">
							<div class="ui image">
								<img src="img/not_found.jpg">
							</div>
							<div style="text-align: right;">
								Image by 
								<a href="https://pixabay.com/users/xiaoxinghai-3598966/">xiaoxinghai</a> from <a href="https://pixabay.com/">Pixabay</a>
							</div>							  
						</div>
					</div>
				</div>

			</article>

		</div>
	</section>