<!-- Content Section -->
<section class="ten wide column" id="contentSection">
	<div class="ui padded segment" id="mainbg">
		<button id="MaxMinSecBtn" class="ui tiny basic grey right floated icon button" data-content="Maximize"><i id="winIcon" class="window maximize icon"></i></button>
		<button id="darkLightMode" class="ui tiny basic yellow icon button"  data-content="Dark"><i id="bulbIcon" class="lightbulb icon"></i></button>

		<!-- Section's Title -->
		<h1 id="singleTitle"> <i class="exclamation triangle
			icon"></i> Oh no, looks like you got lost! <i class="caret down icon"></i></h1>
			
			<div class="ui divider"></div>
			
			<!-- content -->
			<article id="myContent">
				
				<h3>
					Unfortunately the page you're looking for doesn't exist! 
				</h3>
				<div class="ui divider"></div>
				<div class="ui items">
					<div class="item">
						<div class="middle aligned content">
							<div class="ui image">
								<img src="img/lost.jpg">
							</div>
							<p style="text-align: right;">
								Vector designed by
								<a href="https://www.freepik.com/"> freepik </a>
							</p>							  
						</div>
					</div>
				</div>
				
			</article>
			
		</div>
	</section>