<!-- Section's Title -->
<h1> <i class="info circle icon"></i> About Me <i class="caret right icon"></i></h1>

<div class="ui divider"></div>

<!-- content -->
<article id="myContent">
    <h1 class="typewrite" data-period="2000" data-type='[ "Hi, I am Konstantinos.", "I am Creative.", "I Love Hacks.", "I Love to Develop." ]'>
        <span class="wrap"></span>
    </h1>
    <p>
        I am experienced in leveraging agile frameworks to provide a robust synopsis for high level overviews.
        Iterative approaches
        to corporate strategy foster collaborative thinking to further the overall value proposition.
    </p>
</article>