	{{ range .Paginator.Pages }}

			<article id="myContent">
					<div class="ui items">
						<div class="item">
							{{if eq .Params.postType `Project`}}
								<div class="ui small centered image">
									<img src="{{.Params.img_preview | relURL}}">
								</div>
							{{end}}
							<div class="middle aligned content">

								<h1> {{.Title}} </h1>

								<div class="ui relaxed horizontal list" id="metaSingle">

									<div class="item">
										<div class="meta">
											<i class="calendar alternate outline icon"></i> 
											&nbsp;&nbsp;{{ dateFormat "Monday, Jan 2, 2006" .Date}}
										</div>
									</div>
									<div  class="item">
										<div class="meta">
										{{ if .Params.tags }}
										<i class="tags icon"></i>
										{{range .Params.tags}}
											<a href="{{ `/tags/` | relLangURL }}{{ . | urlize }}#contentSection">{{ . }}</a>
											{{end}}
										{{end}}
										</div>
									</div>
									<div  class="item">
										<div class="meta">
										{{ if .Params.categories }}
										<i class="object group outline icon"></i>
										{{range .Params.categories}}
											<a href="{{ `/categories/` | relLangURL }}{{ . | urlize }}#contentSection">{{ . }}</a>
											{{end}}
										{{end}}
										</div>
									</div>

								</div>


								<div class="description">
									<p class="post"> {{.Description}} </p>
								</div>
								<div class="extra">
									<button onclick="location.href='{{.URL}}#contentSection'" class="ui right floated blue tiny button">
										{{if eq .Params.postType `Project`}} Check Project... {{else if or (eq .Params.postType `Post`) (eq .Params.type `Home`) }} Read Post... {{end}}
									</button>
								</div>
							</div>

						</div>
					</div>
				</article>

				<div class="ui divider"></div>
	{{ end }}

<div class="ui items" id="extraDivInTags">
  <div class="extra" id="extraTags">
	{{ partial "pagination" . }}

  	{{if eq .Kind `taxonomy` }} <button id="prevExtraBtn" onclick="getPrevPage()" class="ui tiny green right floated button">Previous Page</button> {{end}}
  </div>
</div>

	
	
