
    <!-- Main menu-->
    <section id="stickyMenu">
        
            <div class="ui padded segment" id="stickybg">

                <!-- Site's Navigation -->
                <div class="ui container" id="stickynav">
                    <div class="ui small list">
                        <div class="item">
                            <a href="{{`/post` | relURL}}">
                                <i class="bookmark large outline icon"></i> Posts
                            </a>
                        </div>
    
                        <div class="item">
                            <a  href="{{`/project` | relURL}}" >
                                <i class="code large icon"></i> Projects
                            </a>
                        </div>
                        {{if eq $.Site.Params.cv `true`}}
                            <div class="item">
                                <a href="{{`/cv` | relURL}}" >
                                    <i class="address card large icon"></i> Curriculum
                                </a>
                            </div>
                        {{end}}
                    </div>
                </div>
    
            </div>
        </section>
    
    